.image-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }  

  .fullscreen .image-gallery-slide img {
    /* max-height: 100vh; */
    height: 70vh;
    padding-bottom: 30%;
    width: 100vw;
    object-position: center center;
}